.model {
    border: 1px solid;  
    width: 340px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 50px;
    box-shadow: 3px 3px 3px black;
    border-radius: 0px 5px 5px 0px;
}

.model-atencao {
    border-color: #f4a911;
	color: #FFF;
	background-color: #f6ba42d3;
}

.model-insucesso {
    border-color: #2f80e7;
	color: #FFF;
	background-color: #5d9cec;
}

.model-sucesso {
    border-color: #87c940;
	color: #FFF;
	background-color: #a0d468;
}

p {
    margin: 0;
    padding: 0;
}