<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/login.css">
    <title>Login</title>
</head>
<body>
    <section class="container"> 
        <h1>Login</h1>
        <form action="/login" method="post">
            <input type="email" id="email" name="email" placeholder="Digite seu email ">
            <input type="password" id="password" name="password" placeholder="Digite sua senha">
            <input type="submit" id="btn" value="Login">
            
            <div class="passwordHidden">
                
            </div>
        </form>
        <p>Não possui conta?<a href="/cadastro"> Criar conta</a></p>
    </section>
    <script src="../../public/js/index.js"></script>
</body>
</html>